body {
  background-color: #ffffff;
}

header {
  background-color: #f62121;
  color: #ffffff;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

section {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col {
  width: 30%;
  margin-top: 20px;
}

.card {
  box-shadow: 5px 5px 5px grey;
  width: 325px;
  background-color: #f5f5f5;
}

.card-header {
  background-color: blue;
  color: #ffffff;
  padding: 5px;
  font-size: 20px;
}

.card-header p {
  padding: 5px 0 0 10px;
}

.card-body {
  background-color: #f5f5f5;
  height: 250px;
  font-size: 20px;
}

.card-body div {
  background-color: #ffffff;
  width: 90%;
  height: 50px;
  margin: 20px 5%;
}

.card-body p {
  padding: 0 0 0 5px;
}

.card-body a {
  text-decoration: none;
  font-size: 18px;
}

.id,
.other,
.email {
  line-height: 50px;
}
